.main-container {
    margin-left: 240px;
    float: left;
    background: #f1f1f1;
    width: calc(100% - 240px);
    min-height: 100vh;
    padding: 4em;

    @include media($mobile) {
      margin-left: 0;
      width: 100%;
      padding: 5em 2em;
    }

    section {
      max-width: 950px;
      margin: 0 auto;
    }
}