<section class="create-report">
	<h2 class="ui dividing header menu-header">
	    Editar Informe
	</h2>

	<div class="section-content ui segment tall stacked">
		{{partial "reports/form"}}
	</div>
</section>

