<section>
	<h2 class="ui dividing header">
	    Editar Informe
    	<div class="sub header">{{link-to "Todos los informes" "reports.index" classNames="btn"}}</div>
	</h2>

	<div class="section-content">
		{{partial "reports/form"}}
	</div>
</section>

