<section>

	  <h3 class="ui dividing header">
    Crear Reporte
     <div class="sub header">{{link-to "Todos los reportes" "reports.index" classNames="btn"}}</div>
     
  </h3>

	<div class="section-content">
		{{partial "reports/form"}}
	</div>
</section>

