<section class="create-report">
	<h2 class="ui dividing header menu-header">
	    Crear Informe
	</h2>
	<div class="section-content ui segment tall stacked">
		{{partial "reports/form"}}
	</div>
</section>

