<section>
	<div class="section-header">
		<h1>Crear Reporte</h1>
		{{link-to "Todos los reportes" "reports.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "reports/form"}}
	</div>
</section>

